@border-color: #ccc;

.forcegraph {
  &-container {
    position: relative;
  }
  &-control-panel {
    position: absolute;
    right: 0px;
    border: 1px solid @border-color;
    padding: 8px;
    border-radius: 4px;
  }
  &-popover {
    position: absolute;
  }
}
